body {
  margin: 0;
  background-image: url("https://as1.ftcdn.net/v2/jpg/00/88/98/18/1000_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg");
  background-size: cover;
}
#player_div {
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 550px;
}
